Package: libsa-dev
Source: libsa
Version: 1.0-1
Architecture: amd64
Maintainer: Salia Sanika <saliasanika@outlook.com>
Installed-Size: 13
Depends: libsa1 (= 1.0-1)
Section: libs
Priority: optional
Description: Development files for libsa
 Header files and linker files for libsa.
